<style>
    html, body, section, nav, article, aside, h1, h2, h3, h4, h5, h6, hgroup, header, footer, address, p, hr, pre, blockquote, ol, ul, li, dl, dt, dd, figure, figcaption, div, table, caption, form, fieldset {
        vertical-align: baseline;
        margin: 0;
        padding: 0;
    }
    html {
        /* Typography rules */
        /* https://www.cssfontstack.com/ */
        /* 1. Fonts: widely available, similar x-height & look nice. Alternative is system fonts (i.e. as github does) */
        /* --font-family-text: 'IBM Plex Sans', 'Source Serif Pro', 'Fira Sans', Verdana, Geneva, sans-serif;
        --font-family-code: 'IBM Plex Mono', 'Source Code Pro','Fira Mono', "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; */
        --font-family-text: Verdana, Geneva, sans-serif;
        --font-family-code: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
        --font-family-headers: Georgia, 'Times New Roman', Times, serif;
        --font-family-dropcap: var(--font-family-headers);
        --font-family-menu: var(--font-family-code);
        /* 2. Fonts sizes: made responsive so everything else scales with it*/
        font-size: calc(0.6vmin + 0.7em);
        font-size: min(max(15px, 2.2vw), 18px);
        font-size: clamp(15px, 2.2vw, 18px);
        /* 3. Line height: Verdana as big x-height, so a bit higher than 1.4 standard */
        --line-height: 1.5;
        --line-height-title: 1;
        --line-height-h1: 1.2;
        /* 4. Line width: as github, larger because of code */
        --line-width: 60em;
        /* 5. Color: grayer, like github */
        --text-color: hsla(93, 14%, 14%, 1);
        --accent-color: hsl(34, 70%, 50%, 1);
        --accent-color2: hsl(0, 100%, 30%);
        /* 6. Ratio for modular scale */
        --ratio-scale: calc(9 / 8);
        --title-font-size: calc(1rem *  var(--ratio-scale) * var(--ratio-scale) * var(--ratio-scale) * var(--ratio-scale) * var(--ratio-scale));
        --h1-font-size: calc(1rem * var(--ratio-scale) * var(--ratio-scale));
        --line-height-rem: calc(var(--line-height) * 1rem);

        font-family: var(--font-family-text);
        font-variant-ligatures: normal;
        line-height: var(--line-height);
        text-rendering: optimizeLegibility;
        color: var(--text-color);
    }
    .container {
        max-width: 60em;
        margin: 0 auto;
    }
    body {
        margin: 0 var(--line-height-rem);
        /* background-image: linear-gradient(rgba(200, 50, 50, .25) 1px, transparent 1px);
        background-size: 1px var(--line-height-rem); */ */
    }
    img, iframe, video { max-width: 100%; }

    h1, h2, h3, h4 {
        font-family: var(--font-family-headers);
        text-align: center;
        letter-spacing: -0.02em;
        font-size: var(--h1-font-size);
        line-height: var(--line-height-h1);
        margin: calc((var(--line-height-rem) * 2 - var(--h1-font-size) * var(--line-height-h1)) * 0.75) 0
                calc((var(--line-height-rem) * 2 - var(--h1-font-size) * var(--line-height-h1)) * 0.25);
    }
    h1:not(:first-child):before, h2:not(:first-child):before {
        content: "❧ ";
        color: var(--accent-color2);
    }
    h1:not(:first-child):after, h2:not(:first-child):after {
        content: " ❧";
        color: var(--accent-color2);
        transform: scaleX(-1);
    }
    h1.title, h1:first-of-type {
        font-size: var(--title-font-size);
        line-height: var(--line-height-title);
        text-align: initial;
        text-transform: initial;
        font-weight: bold;
        letter-spacing: -0.03em;
        margin: calc((var(--line-height-rem) * 2 - var(--title-font-size) * var(--line-height-title)) * 0.5) 0
                calc((var(--line-height-rem) * 2 - var(--title-font-size) * var(--line-height-title)) * 0.0);
    }
    p {
        hyphens: auto;
        margin: 0 0 var(--line-height-rem) 0;
    }
    hr {
        margin: calc((var(--line-height-rem) - 1px) / 2) 0;
    }

    nav.menu {
        font-family: var(--font-family-menu);
        font-weight: 500;
        margin: calc(var(--line-height-rem) / 2) 0 calc(var(--line-height-rem) / 2);
    }
    nav.menu a {
        padding: 0.0em 0.2em;
        text-decoration: none;
        color: var(--text-color);
    }

    nav a:hover, a.postlink:hover {
        text-decoration: underline;
    }

    table {
        margin: auto;
        font-variant-numeric: lining-nums tabular-nums;
    }
    table thead th { border-bottom: 1px solid #ddd; }
    th, td { padding: 0.125em 0.5em 0.25em 0.5em; }

    .dropdown {
        display:inline;
        cursor:pointer;
        position: absolute;
    }
    .dropdown-content {
        display: none;
    }
    .dropdown-content div:hover {
        text-decoration: underline;
    }
    .dropdown:hover .dropdown-content {
        display:block;
        cursor: pointer;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
</style>