<style>

    /* @import url("normalizer.css") */

    html, body, section, nav, article, aside, h1, h2, h3, h4, h5, h6, hgroup, header, footer, address, p, hr, pre, blockquote, ol, ul, li, dl, dt, dd, figure, figcaption, div, table, caption, form, fieldset {
        vertical-align: baseline;
        margin: 0;
        padding: 0;
    }
    html {
        --default-font-family-headers: Verdana, Geneva, sans-serif;
        --default-font-family-code: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
        --default-font-family-text: Georgia, 'Times New Roman', Times, serif;
        --font-family-text: var(--default-font-family-text);
        --font-family-code: var(--default-font-family-code);
        --font-family-headers: var(--default-font-family-headers);
        --font-family-dropcap: var(--font-family-headers);
        --font-family-menu: var(--font-family-code);

        --default-min-font-size: 16px;
        --default-max-font-size: 22px;
        --min-font-size: var(--default-min-font-size);
        --max-font-size: var(--default-max-font-size);

        font-size: clamp(var(--min-font-size), 2.2vw, var(--max-font-size));
        @-moz-document url-prefix() {
            html {
                font-size: 2.2vw;
            } 
        }

        --default-line-height: 1.2;
        --line-height: var(--default-line-height);
        --line-height-title: calc(var(--line-height) * 0.80);
        --line-height-h1: calc(var(--line-height) * 0.80);
        
        --text-color: black;
        --accent-color: hsl(0, 100%, 30%);

        --ratio-scale: 1.414;
        --title-font-size: calc(1rem *  var(--ratio-scale) * var(--ratio-scale));
        --h1-font-size: calc(1rem *  var(--ratio-scale));
        --line-height-rem: calc(var(--line-height) * 1rem);

        font-family: var(--font-family-text);
        font-variant-ligatures: common-ligatures;
        line-height: var(--line-height);
        text-rendering: optimizeLegibility;
        color: var(--text-color);

        -webkit-font-smoothing: subpixel-antialiased;
    }
    .grid {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1.0fr 35rem 1.414fr;
    }

    header, footer, article {
        grid-column: 2 / 3;
    }

    header {
        grid-row: 1 / 2;
    }

    article {
        grid-row: 3 / 4;
    }

    .sidebar-left {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        display: none;
    }

    .sidebar-right {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        display: none;
    }

    .title {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    body {
        /* background-image: linear-gradient(rgba(200, 50, 50, .25) 1px, transparent 1px);
        background-size: 1px var(--line-height-rem); */
    }
    #which-font, #random-font { display: none;}
    img, iframe, video { max-width: 100%; }

    h1:first-of-type {
        margin-top: 0;
    }
    h1, h2, h3, h4 {
        font-family: var(--font-family-headers);
        font-size: var(--h1-font-size);
        font-style:italic;
        font-weight: 500;
        letter-spacing: -0.00em;
        line-height: var(--line-height-h1);
        margin: 0.8rem 0 0.2rem;
    }

    .title {
        font-family: var(--font-family-headers);
        font-size: var(--title-font-size);
        line-height: var(--line-height-title);
        text-align: initial;
        font-weight: 800;
        letter-spacing: -0.01em;
    }
    p {
        font-weight: 410;
        font-variant-numeric: oldstyle-nums;
        margin: 0 0 calc(var(--line-height-rem) * 0.5) 0;
    }
    hr {
        border-style: inset;
        margin: 0.3rem 0;
    }

    nav.menu {
        font-family: var(--font-family-menu);
    }
    nav.menu a {
        padding: 0.0em 0.2em;
        text-decoration: none;
        color: var(--text-color);
    }
    nav a:hover, a.postlink:hover {
        text-decoration: underline;
    }

    table {
        margin: auto;
        font-variant-numeric: lining-nums tabular-nums;
    }
    table thead th { border-bottom: 1px solid #ddd; }
    th, td { padding: 0.125em 0.5em 0.25em 0.5em; }

    .dropdown {
        display:inline;
        cursor:pointer;
        position: absolute;
    }
    .dropdown-content {
        display: none;
        position: relative;
        background-color: white;
        opacity: 1.0;
        z-index: -1;
    }
    .dropdown-content div {
        padding: 0.1rem ;
        margin: 0.1rem;
    }
    .dropdown-content div:hover {
        text-decoration: underline;
    }
    .dropdown:hover .dropdown-content {
        display:block;
        cursor: pointer;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    #random-font:hover  {
        cursor: pointer;
    }
    
    /* from: https://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile */
    @media all and (min-width: 1025px) {
        @-moz-document url-prefix() {
            html { font-size: var(--max-font-size); } 
        }
        html {
        }
        .sidebar-left, .sidebar-right { display: block;}
    }
    @media all and (max-width: 801px) {
        @-moz-document url-prefix() {
            html { font-size: var(--min-font-size); } 
        }
        html {
            --title-font-size: calc(1rem *  var(--ratio-scale));
            --h1-font-size: 1.0rem;
        }
        .grid {
            grid-template-columns: 4% 92% 4%;
        }
    }
</style>