<script>
    window.addEventListener("load", e => {
        const style = localStorage.getItem("Style")
        if(style) {
            const xpath = "//div[text()='" + style + "']"
            const styleEl = document
                .evaluate(xpath, document, null, XPathResult.ANY_TYPE, null)
                .iterateNext()
            if(styleEl)
                setStyle(styleEl);
            else
                localStorage.removeItem("Style")
        }
        const fontEl = document.querySelector(".dropdown-content")
        fontEl.addEventListener("click", e => {
            const el = e.target
            setStyle(el)
        })
    })
    const setStyle = (el) => {
        const link = el.dataset.link
        const header = el.dataset.header
        const text = el.dataset.text
        const code = el.dataset.code

        if(link) {
            var fileref = document.createElement("link")
            fileref.setAttribute("rel", "stylesheet")
            fileref.setAttribute("type", "text/css")
            fileref.setAttribute("href", link)        
            document.getElementsByTagName("head")[0].appendChild(fileref)
            fileref.addEventListener("load", e => {
                setProperties(header, text, code)
            })
        } else {
                setProperties(header, text, code)
        }
        const setProperties = (header, text, code) => {
            document.documentElement.style.setProperty("--font-family-headers", `${header}, Sans-Serif`)
            document.documentElement.style.setProperty("--font-family-text", `${text}, Serif`)
            document.documentElement.style.setProperty("--font-family-code", `${code}, Monospace`)
        }
        localStorage.setItem("Style", el.textContent)
    }
</script>