<script>
    const children = document.querySelectorAll(".font-name")
    const allStyles = Array.from(children).map(c => c.dataset.classname)

    const defaultStyle = "TimesNewRoman"
    const retrievedStyle = localStorage.getItem("Style")
    const style = allStyles.includes(retrievedStyle) ? retrievedStyle : defaultStyle
    document.documentElement.className = style;

    const fontEl = document.querySelector(".dropdown-content")
    fontEl.addEventListener("click", e => {
        const el = e.target
        const style = el.dataset.classname
        document.documentElement.className = style;
        localStorage.setItem("Style", style)
    })

/*
    const randElem = document.querySelector("#random-font")
    randElem.addEventListener("click", e => {
        const randomEl = array[Math.floor(Math.random() * array.length)]
        document.documentElement.className = style;
        localStorage.setItem("Style", style)
    })
    const which = document.querySelector("#which-font")
    which.addEventListener("mouseenter", e => {
        const styles = getComputedStyle(document.documentElement);
        const which = document.querySelector("#which-font")
        which.innerHTML = "[" + styles.getPropertyValue("--font-family-text").split(",")[0] + "]"
    })
    which.addEventListener("mouseleave", e => {
        const which = document.querySelector("#which-font")
        which.innerHTML = "[Which]"
    })
*/
</script>