<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if .Description }}
    <meta name="description" content="{{ .Description }}">
    {{ else }}
    <meta name="description" content="{{ .Summary | plainify }}">
    {{ end }}

    {{ if .IsHome}}
    <title>{{ .Site.Title }}</title>
    {{ else }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ end }}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <script async src='/js/tracking-code.js'></script>

    {{ range .Site.Params.custom_css -}}
      <link rel="stylesheet" href="{{ . | relURL }}">
    {{- end }}

    {{ partial "inline-style.css"}}
    {{ partial "menu.html" . }}

  </head>