<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#ffffff"/>

{{ if .Description }}
<meta name="description" content="{{ .Description }}">
{{ else }}
<meta name="description" content="{{ .Summary | plainify }}">
{{ end }}

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


<link rel="preload" as="font" href="/fonts/SourceSerifVariable-roman.woff2" type="font/woff2" crossorigin="anonymous">
<link rel="preload" as="font" href="/fonts/SourceSansVariable-roman.woff2" type="font/woff2" crossorigin="anonymous">

<link rel="stylesheet" href="/css/normalize.css"> 
<link rel="stylesheet" href="/css/base.css"> 
<link rel="stylesheet" href="/css/fonts.css">


{{ if eq .Kind "home"}}
  <title>{{ .Site.Title }}</title>

  <!-- Pre-render the first 10 pages (cheater) -->
  {{ $pages := .Pages }}
  {{ $pages = .Site.RegularPages }}
  {{ range first 10 $pages }}
    <link media="screen and (min-width: 50em)" rel="prerender" href="{{ .RelPermalink }}" />
  {{ end }}
  
{{ end }}

{{ if eq .Kind "page"}}
  <title>{{ .Title }} | {{ .Site.Title }}</title>
{{ else if not (eq .Kind "home")}}
  <title>{{ .Title }} | {{ .Site.Title }}</title>
{{ end }}

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">