<style>
    main > ul > li {
        list-style-type: none;
        display: flex;
    }
    main > ul > li > a {
        padding: 0 0.5em;
        font-weight: 350;
    }
    time.date {
        font-variant-numeric: tabular-nums;
        font-weight: 100;
    }
    .offline {
        display:none;
    }
    .offline.show {
        display: inline;
        text-transform: capitalize;
        color: var(--accent-color);
        text-decoration: wavy;
        float:right;
        border-style: groove;
        border-color: var(--accent-color);
    }
    a:link {
        text-decoration: none;
        color:black;
    }
    a:visited {
        color:black;
        text-decoration: none;
    }
    a.strike {
        text-decoration: line-through;
    }
    #luca-bolognese {
        color: var(--accent-color);
    }

</style>