<style>
    main > ul > li {
        list-style-type: none;
        display: flex;
    }
    main > ul > li > a {
        padding: 0 0.5em;
    }
    main .date {
        font-variant-numeric: tabular-nums;
    }
    .offline {
        display:none;
    }
    .offline.show {
        display: inline;
        text-transform: capitalize;
        color:red;
        text-decoration: wavy;
        float:right;
        border-style: groove;
        border-color: red;
    }
    a.strike {
        text-decoration: line-through;
    }
    @media (max-width: 50em) {
        main ul {
            padding:0;
        }
    }   
</style>