<style>
html {
    font-size: calc(1vw + 0.7em);
    max-width: 1280px;
}
a:link {
    text-decoration: none;
    padding: 0.5em;
    color: #1476b8;
}
a:visited {
    color: #1430b8;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: #b81414;
}
nav a {
    font-family: monospace;
    font-size: 1.2 rem;
    padding: 0.2em;
}
@media (min-width: 50em) {
    html {
        font-size:1.125rem;
    }
}
</style>