<header>
  <h1>Menu</h1>
</header>
{{- $title := lower .Title }}
{{ $section := lower .Section }}
<ul>
{{- range .Site.Menus.main }}
  {{- $name := lower .Name }}
  <li><a href="{{ .URL }}">{{ $name }}</a></li>
{{- end }}

  <li class="dropdown">
    <a>theme</a>
      <div class="dropdown-content">
        {{- $styles := slice }}
        {{- range sort (readDir "/static/fonts/") }}
            {{- if eq (path.Ext .Name) ".css" }}
              {{- $descr := index (split (readFile (path.Join "/static/fonts" .Name)) "\n") 0 }}
              {{- $className := index (split .Name ".") 0 }}
              {{- if eq (substr $descr 0 2) "/*" }}
                <div class="font-name" data-classname="{{ $className }}" >{{ substr $descr 3 -3 }}</div>
              {{- else }}
                <div class="font-name" data-classname={{ $className }}>{{ $className }}</div>
              {{- end }}
            {{- end }}
        {{- end }}
      </div>
  </li>
</ul>
<a id="random-font">Random</a>
<a id="which-font">Which</a>