<header>
  <h1>Menu</h1>
</header>
{{ $title := lower .Title }}
{{ $section := lower .Section }}
<ul>
{{ range .Site.Menus.main }}
  {{ $name := lower .Name }}
  <li><a href="{{ .URL }}">{{ $name }}</a></li>
{{end}}

<!-- <a id="random-font">[Random]</a>
<a id="which-font">[Which]</a>
<div class="dropdown">
<a class="pull-left">~/fonts</a>
  <div class="dropdown-content">
    {{ range $i, $r := getCSV "," "static/fonts.csv" }}
      <div data-link={{ index $r 1 }} data-header={{ index $r 2 }} data-text={{ index $r 3 }} data-code={{ index $r 4 }} data-minsize="{{ index $r 5 }}" data-maxsize="{{ index $r 6 }}" data-lineheight="{{ index $r 7 }}">{{ index $r 0 }}</div>
    {{ end }}
  </div>
</div> 
-->
</ul>