<style>
    .date {
        font-size: 0.8rem;
    }

    pre {
        border: 1px solid #ddd;
        box-shadow: 5px 5px 5px #eee;
        overflow-x: auto;
        padding: 0 0 0 var(--line-height-rem);
        margin: var(--line-height-rem) 0;
        font-variant-numeric: slashed-zero lining-nums tabular-nums;
    }
    main p:first-of-type::first-letter {
        font-size: calc(var(--line-height-rem) * 1);
        font-family: var(--font-family-dropcap);
        line-height: 0.6;
        color: var(--accent-color2)
    }
    main ul, main ol {
        margin-left: 1em;
    }
    code {
        font-family: var(--font-family-code);
    }

    .terms {
        font-variant: small-caps;
        border-left: 1px dotted var(--accent-color2);
        padding-left: 1rem;
        position: sticky;
        top: 0;
    }

    main li {
        list-style-type: square;
    }
    nav a:link, nav a:visited {
        color: var(--text-color);
    }
    a:link {
        color:var(--accent-color2);
        text-decoration: none;
    }
    a:visited {
        color: var(--accent-color2);
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    p a::after {
        position: relative;
        content: "°";
        margin-left: 0.1em;
        font-size: 90%;
        top: -0.1em;
        font-feature-settings: "caps";
        font-variant-numeric: normal;
    }
    a:active {
        color: var(--accent-color2);
    }
    button {
        background: black;
        border-bottom: 1px solid #000;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        margin: var(--line-height-rem) 0;
        font-size:1.333rem
    }

    #TOC {
        border-right: 1px dotted var(--accent-color2);
        position: sticky;
        top: 0;
    }
    #TOC h1 {
        text-align: right;
        padding-right: 1rem;
    }
    #TOC ul {
        list-style-type: none;
        text-align: right;
        padding-right: 1rem;
    }

    #TOC a {
        text-decoration: none;
    }
    @media print {
        * {
            background: none !important;
        }
        header {
            display: none !important;
        }
        .sidebar-left, .sidebar-right {
            display: none !important;
        }
    }

</style>