<style>
    .date {
        font-size: 0.8em;
        display: none;
    }

    pre {
        border: 1px solid #ddd;
        box-shadow: 5px 5px 5px #eee;
        overflow-x: auto;
        padding: 1em;
    }
    code {
        font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    }

    @media print {
        * {
            background: none !important;
        }
        header {
            display: none !important;
        }
    }
    button {
        background: #613DC1;
        border-bottom: 1px solid #000;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }

</style>