---
layout: base.njk
title: About Luca
---
<div class="face">
  <img height="201" width="200" src="/img/gavatar200.svg" alt="Luca happy face"/>
</div>

<p>
Luca is a hacker, a manager, an ex volleyball player, an aspiring tennis player, a poor chess player, a decent father, and a husband. He works for Microsoft and lives in Spain.
</p>

<p>
You can contact him via <a href="mailto:lucabolpub@protonmail.com">email</a>.
</p>
