---
layout: home.njk
title: 'Luca Bolognese'
description: Home page of Luca Bolognese
home: 'anything'
eleventyNavigation:
  key: home
  order: 0
---
<div class="stack box center-intrinsic">
    <h1>{{ title }}</h1>

    <a href="/about" aria-label="About Luca"><img inline height="200" width="200" src="/img/gavatar200.svg" alt="Luca happy face"/></a>
    {% include "z-menu-icons.html" %}

    {% include "z-navigation.html" %}

</div>