---
layout: home.njk
permalink: /tags/
title: 'Tags'
eleventyNavigation:
  key: tags
  order: 4
---
<h1>{{ title }}</h1>
<ul class="postlinks">
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag | safe | lower }}/{% endset %}
      <li><a href="{{ tagUrl | url }}" >{{ tag | safe | upper }}</a></li>
  {% endfor %}
</ul>