{% extends "base.html" %}

{% block title %}About - Luca Bolognese{% endblock %}

{% block content %}
<div class="about">
    <h1>Luca Bolognese</h1>
   
    <p>
        Luca is a hacker, a manager, a volleyball player, an aspiring tennis player, 
        an ok father and husband. He works for Microsoft and lives in Italy.
    </p>
    <p>
        You can contact him via <a href="mailto:luca@lucabol.com">email</a>.
    </p>

    <div class="social-links">
        <a href="https://github.com/lucabol" class="social-link">
            <img src="/img/github.svg" alt="GitHub">
        </a>
        <a href="https://www.linkedin.com/in/lucabol/" class="social-link">
            <img src="/img/linkedin.svg" alt="LinkedIn">
        </a>
        <a href="/feed.xml" class="social-link">
            <img src="/img/rss.svg" alt="RSS Feed">
        </a>
    </div>
    
</div>
{% endblock %}
