{% extends "base.html" %}

{% block content %}
<section aria-labelledby="code-heading">
    <h1 id="code-heading">Code</h1>

    {% for project in projects %}
    <article class="code-project">
        <h2>
            <a href="https://github.com/lucabol/{{ project.name }}"
               aria-label="View {{ project.name }} on GitHub">{{ project.name }}</a>
        </h2>
        <p>
            {{ project.desc }}
            {% if project.app_url %}
            <a href="{{ project.app_url }}">{{ project.app_label }}</a>.
            {% endif %}
        </p>
    </article>
    {% endfor %}
</section>
{% endblock %}
