{% extends "base.html" %}

{% block title %}{{ post.title }} - Luca Bolognese{% endblock %}

{% block meta_description %}
{% if post.description %}
    <meta name="description" content="{{ post.description }}">
{% endif %}
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    
    <div class="post-meta">
        <em>{{ post.author }} - {{ post.date.strftime('%b %Y') }}</em>
    </div>
    
    <article class="post-content">
        {{ post.content | safe }}
    </article>

    {% if post.tags %}
        <h2>Tags</h2>
        <ul class="post-tags">
            {% for tag in post.tags %}
                <li><a href="/tags/{{ tag }}.html">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="post-comments">
        <p><a href="{{ post.comments_url }}">View comments on GitHub</a> or <a href="mailto:luca@lucabol.com">email me</a></p>
    </div>
{% endblock %}
