{% extends "base.html" %}

{% block title %}{{ tag }} - My Blog{% endblock %}

{% block content %}
    <h1>"{{ tag }}"</h1>
    
    {% for year in sorted_years %}
        <h2 class="year">{{ year }}</h2>
        <ul class="posts-list">
            {% for post in posts_by_year[year] %}
                <li>
                    {{ post.title }}
                    <span class="lang-toggle-inline">
                        {% if post.language == 'it' %}
                        <a href="/{{ post.url }}">IT</a> | <a href="{{ post.translation_url }}">EN (AI)</a>
                        {% else %}
                        <a href="/{{ post.url }}">EN</a> | <a href="{{ post.translation_url }}">IT (AI)</a>
                        {% endif %}
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
