/* 9. Sa Geometric: Antique Olive*/
@font-face {
    font-family: AntiqueOlive;
    src: url('/fonts/URW Antique Olive W01 Regular.woff2') format('woff2'),
        url('/fonts/URW Antique Olive W01 Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: AntiqueOliveLight;
    src: url('/fonts/URW Antique Olive W01 Light.woff2') format('woff2'),
    url('/fonts/URW Antique Olive W01 Light.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: AntiqueOlive;
    src: url('/fonts/URW Antique Olive W01 Bold.woff2') format('woff2'),
    url('/fonts/URW Antique Olive W01 Bold.woff') format('woff');
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: AntiqueOlive;
    src: url('/fonts/URW Antique Olive W01 Italic.woff2') format('woff2'),
    url('/fonts/URW Antique Olive W01 Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: optional;
}
@font-face {
    font-family: AntiqueOliveSC;
    src: url('/fonts/URW Antique Olive W01_SC.woff2') format('woff2'),
    url('/fonts/URW Antique Olive W01_SC.woff') format('woff');
    font-weight: normal;
    font-display: optional;
}
.AntiqueOlive {
    --font-family-text: 'AntiqueOliveLight', serif;
    --font-family-code: LucidaTy, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    --font-family-ui:  'AntiqueOliveSC', serif;
    --code-factor: 0.9;
    --p-wght-min: 300;
    --p-wght-max: 400;
}