/* 9. Sa Geometric: Bahnschrift */
@font-face {
    font-family: BahnschriftFont;
    src:
        local('Bahnschrift')
        url('/fonts/bahnschrift.ttf') format('truetype');
    font-weight: 1 1000;
    font-stretch: 1% 500%;
    font-display: swap;
}
.Bahnschrift {
    --font-family-headers: BahnschriftFont, serif;
    --font-family-text: BahnschriftFont, serif;
    --font-family-code: LucidaTy, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    --p-wght-min: 300;
    --p-wght-max: 350;
    --code-factor: 0.9;
}