/* 5. Se Didone: Computer Modern */
@font-face {
    font-family: CM;
    src: url('/fonts/ComputerModern/cmr8.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: CM;
    src: url('/fonts/ComputerModern/cmbx12.woff') format('woff');
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: CM;
    src: url('/fonts/ComputerModern/cmti10.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "CM TypeWriter";
    src: url('/fonts/ComputerModern/cmtt12.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "CM SmallCaps";
    src: url('/fonts/ComputerModern/cmcsc8.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: CM;
    src: local('Times New Roman');
    unicode-range: U+00B0, U+00B6;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: CM;
    src: local('Times New Roman');
    unicode-range: U+00B0, U+00B6;
    font-style: italic;
    font-display: swap;
}
.CM {
    --font-family-text: 'CM', serif;
    --font-family-code: 'CM TypeWriter', monospace;
    --p-wght-min: 390;
    --p-wght-max: 450;
    --code-factor: 1;
    --p-lh-min: 1.2;
    --p-lh-max: 1.2;
}