/* 9. Sa Geometric: Cooper Hewitt */
@font-face {
    font-family: CooperHewitt;
    src: url('/fonts/CooperHewitt-Book.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: CooperHewitt;
    src: url('/fonts/CooperHewitt-Bold.woff') format('woff');
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: CooperHewitt;
    src: url('/fonts/CooperHewitt-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: optional;
}
.CooperHewitt {
    --font-family-headers: 'CooperHewitt', serif;
    --font-family-text: 'CooperHewitt', serif;
    --font-family-code: LucidaTy, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    --code-factor: 0.9;
}