/* 1. Se Garalde: Crimson Pro */
@font-face {
    font-family: 'CrimsonPro';
    src:
        url('/fonts/CrimsonPro-Roman-VF.ttf') format('truetype');
    font-weight: 1 1000;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CrimsonPro';
    src:
        url('/fonts/CrimsonPro-Italic-VF.ttf') format('truetype');
    font-weight: 1 1000;
    font-style: italic;
    font-display: swap;
}

.CrimsonPro {
    --font-family-headers: 'CrimsonPro', serif;
    --font-family-dropcap: TimesNewRoman, "Times New Roman", serif;
    --font-family-text: 'CrimsonPro', 'CooperHewitt', serif;
    --font-family-code: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    --p-size-s-px: 19;
    --p-size-l-px: 23;
    --p-wght-min: 330;
    --p-wght-max: 390;
}