/* 1. Se Old Style: Crimson Pro (Century, Palatino, Plantin, Sabon) */
@font-face {
    font-family: 'CrimsonPro';
    src:
        url('/fonts/CrimsonPro-Roman-VF.woff2') format('woff2'),
        url('/fonts/CrimsonPro-Roman-VF.woff') format('woff');
    font-weight: 1 1000;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CrimsonPro';
    src:
        url('/fonts/CrimsonPro-Italic-VF.woff2') format('woff2'),
        url('/fonts/CrimsonPro-Italic-VF.woff') format('woff');
    font-weight: 1 1000;
    font-style: italic;
    font-display: swap;
}

.CrimsonPro {
    --font-family-text: 'CrimsonPro', 'CooperHewitt', serif;
    --p-size-s-px: 17;
    --p-size-l-px: 25;
    --p-wght-min: 340;
    --p-wght-max: 400;
    --p-lh-min: 1.2;
    --p-lh-max: 1.2;
}