/* 1. Se Old Style: Garamond */
@font-face {
    font-family: 'EB Garamond';
    src:
        url('/fonts/EBGaramond-subset.woff2') format('woff2-variations'),
        url('/fonts/EBGaramond-subset.woff') format('woff'),
        url('/fonts/EBGaramond-VariableFont_wght.woff') format('woff');
    font-weight: 1 1000;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'EB Garamond';
    src:
        url('/fonts/EBGaramond-italic-subset.woff2') format('woff2'),
        url('/fonts/EBGaramond-italic-subset.woff') format('woff'),
        url('/fonts/EBGaramond-Italic-VariableFont_wght.woff') format('woff');
    font-weight: 1 1000;
    font-style: italic;
    font-display: swap;
}

.EBGaramond {
    --font-family-text: 'EB Garamond', 'CooperHewitt', serif;
    --font-family-code: LucidaTy, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    --p-size-s-px: 17;
    --p-size-l-px: 25;
    --p-wght-min: 390;
    --p-wght-max: 440;
}