/* d. Sl Humanist: Enriqueta (PMN Caecilia) */
@font-face {
    font-family: Enriqueta;
    src: url('/fonts/Enriqueta-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
}
@font-face {
    font-family: Enriqueta;
    src: url('/fonts/Enriqueta-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
}
.Enriqueta {
    --font-family-headers: LucidaTy, serif;
    --font-family-text: 'Enriqueta', serif;
    --font-family-title: 'Enriqueta', serif;
    --font-family-code: LucidaTy, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    --code-factor: 0.9;
}