/* d. Sl Humanist: Enriqueta (PMN Caecilia) */
@font-face {
    font-family: Enriqueta;
    src: url('/fonts/Enriqueta-Regular.woff2') format('woff2'),
    url('/fonts/Enriqueta-Regular.woff') format('woff');
    font-display: swap;
    font-weight: normal;
}
@font-face {
    font-family: Enriqueta;
    src: url('/fonts/Enriqueta-Bold.woff2') format('woff2'),
    url('/fonts/Enriqueta-Bold.woff') format('woff');
    font-weight: bold;
    font-display: swap;
}
.Enriqueta {
    --font-family-text: 'Enriqueta', serif;
    --font-family-code: LucidaTy, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    --code-factor: 0.9;
}