/* 1. Se Old Style: Sorts Mill Goudy */
@font-face {
    font-family: 'GoudyStM';
    src:
        url('/fonts/GoudyStM-webfont.woff2') format('woff2'),
        url('/fonts/GoudyStM-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GoudyStM';
    src:
        url('/fonts/GoudyStM-Italic-webfont.woff2') format('woff2'),
        url('/fonts/GoudyStM-Italic-webfont.woff') format('woff');
    font-style: italic;
    font-display: swap;
}

.GoudyStM {
    --font-family-text: 'GoudyStM', serif;
    --font-family-code: LucidaTy, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    --p-wght-min: 440;
    --p-wght-max: 500;
}