/* 4. Se Transitional: Libre Caslon */
@font-face {
    font-family: 'Libre Caslon';
    src:
        url('/fonts/LibreCaslonText-Roman-VF.woff2') format('woff2'),
        url('/fonts/LibreCaslonText-Roman-VF.woff') format('woff');
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Caslon';
    src:
        url('/fonts/EBGaramond-italic-subset.woff2') format('woff2-variations'),
        url('/fonts/EBGaramond-italic-subset.woff') format('woff'),
        url('/fonts/EBGaramond-Italic-VariableFont_wght.woff') format('woff');
    font-weight: 1 1000;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Caslon 1';
    src:
        url('/fonts/LibreCaslonDisplay-Regular.woff2') format('woff2'),
        url('/fonts/LibreCaslonDisplay-Regular.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}
.LibreCaslon {
    --font-family-text: 'Libre Caslon', serif;
    --font-family-code: LucidaTy, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    --p-wght-min: 400;
    --p-wght-max: 400;
    --code-factor: 0.9;
}