/* 4. Se Transitional: Libre Bask. (Mrs Eaves) */
@font-face {
    font-family: 'LibreBaskerville';
    src:
        url('/fonts/LibreBaskerville-Regular.woff2') format('woff2'),
        url('/fonts/LibreBaskerville-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'LibreBaskerville';
    src:
        url('/fonts/LibreBaskerville-Italic.woff2') format('woff2'),
        url('/fonts/LibreBaskerville-Italic.woff') format('woff');
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'LibreBaskerville';
    src:
        url('/fonts/LibreBaskerville-Bold.woff2') format('woff2'),
        url('/fonts/LibreBaskerville-Bold.woff') format('woff');
    font-weight: bold;
    font-display: swap;
}

.LibreBaskerville {
    --font-family-text: 'LibreBaskerville', serif;
    --font-family-code: LucidaTy, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    --p-lh-min: 1.5;
    --p-lh-max: 1.7;
    --p-size-s-px: 12;
    --p-size-l-px: 21;
    --p-wght-min: 300;
    --p-wght-max: 400;
    --code-factor: 1;
    --p-lh-min: 1.4;
    --p-lh-max: 1.7;
}
