@font-face {
    font-family: LibreBodoni;
    src: url('/fonts/LibreBodoni-Regular.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: LibreBodoni;
    src: url('/fonts/LibreBodoni-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: LibreBodoni;
    src: url('/fonts/LibreBodoni-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: optional;
}
.LibreBodoni {
    --font-family-headers: 'LibreBodoni', serif;
    --font-family-text: 'LibreBodoni', serif;
    --font-family-code: 'Fira Code VF', monospace;
}