/* 4. Se Transitional: Lucida Bright */
@font-face {
    font-family: LucidaBr;
    src:
        local('Lucida Bright'),
        url('/fonts/lbrite.woff2') format('woff2'),
        url('/fonts/lbrite.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: LucidaBr;
    src:
        local('Lucida Bright Italic'),
        url('/fonts/lbritei.woff2') format('woff2'),
        url('/fonts/lbritei.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: LucidaBr;
    src:
        local('Lucida Bright Demibold'),
        url('/fonts/lbrited.woff2') format('woff2'),
        url('/fonts/lbrited.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: LucidaBr;
    src:
        local('Lucida Bright Demibold Italic'),
        url('/fonts/lbritedi.woff2') format('woff2'),
        url('/fonts/lbritedi.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: LucidaTy;
    src:
        local('Lucida Sans Typewriter Bold'),
        url('/fonts/ltypeb.woff2') format('woff2'),
        url('/fonts/ltypeb.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: LucidaTy;
    src:
        local('Lucida Sans Typewriter Regular'),
        url('/fonts/ltype.woff2') format('woff2'),
        url('/fonts/ltype.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: LucidaTy;
    src:
        local('Lucida Sans Typewriter Oblique'),
        url('/fonts/ltypeo.woff2') format('woff2'),
        url('/fonts/ltypeo.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: LucidaTy;
    src:
        local('Lucida Sans Typewriter Bold Oblique'),
        url('/fonts/ltypebo.woff2') format('woff2'),
        url('/fonts/ltypebo.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: LucidaCa;
    src:
        local('Lucida Calligraphy Italic'),
        url('/fonts/lcallig.woff2') format('woff2'),
        url('/fonts/lcallig.woff') format('woff');
    font-display: swap;
}
.Lucida {
    --font-family-headers: LucidaBr, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, Georgia, serif;
    --font-family-text: LucidaBr, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, Georgia, serif;
    --p-size-s-px: 16;
    --p-size-l-px: 20;
    --p-wght-min: 300;
    --p-wght-max: 400;
    --code-factor: 0.9;
    --p-lh-min: 1.5;
    --p-lh-max: 1.7;
}