/* d. Sl Humanist: Merriweather (Chapparal) */
@font-face {
    font-family: 'Merriweather';
    src:
        url('/fonts/MerriweatherGX.ttf') format('truetype');
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src:
        url('/fonts/MerriweatherItalicGX.ttf') format('truetype');
    font-weight: 1 1000;
    font-style: italic;
    font-display: swap;
}

.Merriweather {
    --font-family-headers: 'Merriweather', serif;
    --font-family-text: 'Merriweather', serif;
    --font-family-code: LucidaTy, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    --p-wght-min: 100;
    --p-wght-max: 100;
    --code-factor: 0.9;
}