/* a. Sa Humanist: Nimbus (Helvetica) */
@font-face {
    font-family: 'Nimbus';
    src:
        url('/fonts/NimbusSans-Regular.woff2') format('woff2'),
        url('/fonts/NimbusSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nimbus';
    src:
        url('/fonts/NimbusSans-Italic.woff2') format('woff2'),
        url('/fonts/NimbusSans-Italic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nimbus';
    src:
        url('/fonts/NimbusSans-Bold.woff2') format('woff2'),
        url('/fonts/NimbusSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nimbus';
    src:
        url('/fonts/NimbusSans-BoldItalic.woff2') format('woff2'),
        url('/fonts/NimbusSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NimbusMonoPS';
    src:
        url('/fonts/NimbusMonoPS-Regular.woff2') format('woff2'),
        url('/fonts/NimbusMonoPS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NimbusMonoPS';
    src:
        url('/fonts/NimbusMonoPS-Italic.woff2') format('woff2'),
        url('/fonts/NimbusMonoPS-Italic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NimbusMonoPS';
    src:
        url('/fonts/NimbusMonoPS-Bold.woff2') format('woff2'),
        url('/fonts/NimbusMonoPS-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NimbusMonoPS';
    src:
        url('/fonts/NimbusMonoPS-BoldItalic.woff2') format('woff2'),
        url('/fonts/NimbusMonoPS-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
.Nimbus {
    --font-family-text: 'Nimbus', serif;
    --font-family-code: NimbusMonoPS, LucidaTy, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    --code-factor:0.9;
}
