/* 5. Se Didone: Old Standard TT (Filosofia, Scotch Modern) */
@font-face {
    font-family: 'OldStandardTT';
    src:
        url('/fonts/OldStandardTT-Regular.woff2') format('woff2'),
        url('/fonts/OldStandardTT-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OldStandardTT';
    src:
        url('/fonts/OldStandardTT-Italic.woff2') format('woff2'),
        url('/fonts/OldStandardTT-Italic.woff') format('woff');
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'OldStandardTT';
    src:
        url('/fonts/OldStandardTT-Bold.woff2') format('woff2'),
        url('/fonts/OldStandardTT-Bold.woff') format('woff');
    font-weight: bold;
    font-display: swap;
}

.OldStandardTT {
    --font-family-text: 'OldStandardTT', serif;
    --code-factor:0.9;
    --p-lh-min: 1.2;
    --p-lh-max: 1.2;
}
