/* 0. OpenDyslexic */
@font-face {
    font-family: 'OpenDyslexic';
    src:
        url('/fonts/OpenDyslexic-Regular.woff2') format('woff2'),
        url('/fonts/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OpenDyslexic';
    src:
        url('/fonts/OpenDyslexic-Italic.woff2') format('woff2'),
        url('/fonts/OpenDyslexic-Italic.woff') format('woff');
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'OpenDyslexic';
    src:
        url('/fonts/OpenDyslexic-Bold.woff2') format('woff2'),
        url('/fonts/OpenDyslexic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OpenDyslexic';
    src:
        url('/fonts/OpenDyslexic-BoldItalic.woff2') format('woff2'),
        url('/fonts/OpenDyslexic-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'OpenDyslexicMono';
    src:
        url('/fonts/OpenDyslexicMono-Regular.woff2') format('woff2'),
        url('/fonts/OpenDyslexicMono-Regular.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

.OpenDyslexic {
    --font-family-text: 'OpenDyslexic', sans-serif;
    --font-family-headers: 'OpenDyslexic', sans-serif;
    --font-family-title: 'OpenDyslexic', sans-serif;
    --font-family-ui: 'OpenDyslexic', sans-serif;
    --font-family-code: 'OpenDyslexicMono', sans-serif;
    --p-wght-min: 400;
    --p-wght-max: 400;
}
