/* Z. Sa Monospace: Profont */
@font-face {
    font-family: profont;
    src: url('/fonts/ProFontWindows.woff');
    font-display: optional;
    font-weight: normal;
}
@font-face {
    font-family: profont;
    src: url('/fonts/ProFontWindows-Bold.woff');
    font-display: optional;
    font-weight: bold;
}
.Profont {
    --font-family-code: profont, monospace;
    --p-size-s-px: 16;
    --p-size-l-px: 20;
    --p-wght-min: 300;
    --p-wght-max: 400;
    --code-factor: 1.1;
}