/* 4. Se Transitional: Source Pro (Skolar, Fournier) */
@font-face {
    font-family: SourceSerifPro;
    src:
        url('/fonts/SourceSerifVariable-Roman.woff2') format('woff2'),
        url('/fonts/SourceSerifVariable-Roman.woff') format('woff');
    font-weight: 1 1000;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: SourceSerifPro;
    src:
        url('/fonts/SourceSerifVariable-Italic.woff2') format('woff2'),
        url('/fonts/SourceSerifVariable-Italic.woff') format('woff');
    font-weight: 1 1000;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: SourceCodePro;
    src:
        url('/fonts/SourceCodeVariable-Roman.woff2') format('woff2'),
        url('/fonts/SourceCodeVariable-Roman.woff') format('woff');
    font-weight: 1 1000;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: SourceCodePro;
    src:
        url('/fonts/SourceCodeVariable-Italic.woff2') format('woff2'),
        url('/fonts/SourceCodeVariable-Italic.woff') format('woff');
    font-weight: 1 1000;
    font-style: italic;
    font-display: swap;
}

.SourcePro {
    --font-family-headers: SourceSerifPro, serif;
    --font-family-text: SourceSerifPro, serif;
    --font-family-code: SourceCodePro, LucidaTy, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    --p-wght-min: 370;
    --p-wght-max: 430;
    --h1-wght-min: 900;
    --h1-wght-max: 700;
}