/* 4. Se Transitional: Source Pro (Skolar, Fournier) */
@font-face {
    font-family: SourceSerifPro;
    src:
        url('/fonts/SourceSerifVariable-Roman.woff2') format('woff2'),
        url('/fonts/SourceSerifVariable-Roman.woff') format('woff');
    font-weight: 1 1000;
    font-style: normal;
    font-display: optional;
}
@font-face {
    font-family: SourceSerifPro;
    src:
        url('/fonts/SourceSerifVariable-Italic.woff2') format('woff2'),
        url('/fonts/SourceSerifVariable-Italic.woff') format('woff');
    font-weight: 1 1000;
    font-style: italic;
    font-display: optional;
}
@font-face {
    font-family: SourceCodePro;
    src:
        url('/fonts/SourceCodeVariable-Roman.woff2') format('woff2'),
        url('/fonts/SourceCodeVariable-Roman.woff') format('woff');
    font-weight: 1 1000;
    font-style: normal;
    font-display: optional;
}
@font-face {
    font-family: SourceCodePro;
    src:
        url('/fonts/SourceCodeVariable-Italic.woff2') format('woff2'),
        url('/fonts/SourceCodeVariable-Italic.woff') format('woff');
    font-weight: 1 1000;
    font-style: italic;
    font-display: optional;
}

.SourcePro {
    --p-wght-min: 370;
    --p-wght-max: 430;
}