/* 5. Se Didone: Stix2 */
@font-face {
    font-family: STIX2;
    src: url('/fonts/STIX2Text-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: STIX2;
    src: url('/fonts/STIX2Text-Bold.woff2') format('woff2');
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: STIX2;
    src: url('/fonts/STIX2Text-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: optional;
}
.STIX2 {
    --font-family-text: 'STIX2', serif;
    --font-family-code: LucidaTy, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    --code-factor: 0.9;
    --p-lh-min: 1.5;
    --p-lh-max: 1.7;
    --p-lh-min: 1.2;
    --p-lh-max: 1.2;
}