/* 9. Sa Humanist: URW Classico (Optima) */
@font-face {
    font-family: URWClassico;
    src: url('/fonts/URWClassico-Regular.woff2') format('woff2'),
    url('/fonts/URWClassico-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: URWClassico;
    src: url('/fonts/URWClassico-Italic.woff2') format('woff2'),
    url('/fonts/URWClassico-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: URWClassico;
    src: url('/fonts/URWClassico-Bold.woff2') format('woff2'),
    url('/fonts/URWClassico-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: URWClassico;
    src: url('/fonts/URWClassico-BoldItalic.woff2') format('woff2'),
    url('/fonts/URWClassico-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
.URWClassico {
    --font-family-text: URWClassico, serif;
    --font-family-code: LucidaTy, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    --code-factor: 0.9;
    --p-lh-min: 1.2;
    --p-lh-max: 1.2;
}