/* 8. Sa Grotesque: Work Sans (All Grotesque, FF Bau, Venus) */
@font-face {
    font-family: 'WorkSans';
    src:
        url('/fonts/WorkSans[wght].woff2') format('woff2'),
        url('/fonts/WorkSans[wght].woff') format('woff');
    font-weight: 1 1000;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'WorkSans';
    src:
        url('/fonts/WorkSans-Italic[wght].woff2') format('woff2'),
        url('/fonts/WorkSans-Italic[wght].woff') format('woff');
    font-weight: 1 1000;
    font-style: italic;
    font-display: swap;
}

.WorkSans {
    --font-family-headers: 'WorkSans', serif;
    --font-family-text: 'WorkSans', 'CooperHewitt', serif;
    --font-family-code: LucidaTy, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    --p-lh-min: 1.2;
    --p-lh-max: 1.2;
}