---
title: Luca Bolognese Blog
---
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ '/css/base.css' | url }}" text="text/css">
  </head>

  <body>
    <header>
      {%- include "z-navigation.html" %}
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>

      {%- if home or title == "About Luca" %}
        {%- include "z-menu-icons.html" %}
        {%- include "z-search-base.njk" %}
      {%- else %}
        {%- include "z-search-base.njk" %}
        <a href="#top">Top</a>
        {%- include "z-navigation.html" %}
      {%- endif %}
    </footer>

  </body>
</html>
