---
layout: base.njk
---
<article>
    <h1>{{ title | addNbsp | safe }}</h1>
    <p class="signature" >Luca - <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></p>

    <div>
        {{ content | safe }}
    </div>

    <div>
        {% set showTagsTitle = true %}
        {% set tagslist = tags %}
        {% include "z-tagcluster.njk" %}

        {% include "z-comments.njk" %}
    </div>
</article>
