---
layout: base.njk
---
<article>
    <header>
      <h1>{{ title | addNbsp | safe }}</h1>
      <address><a rel="author" href="/about/">Luca Bolognese</a> - <time pubdate datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></address>
    </header>

    {{ content | safe }}

    {% set showTagsTitle = true %}
    {% set tagslist = tags %}
    {% include "z-tagcluster.njk" %}

    {% include "z-comments.njk" %}
</article>
