{% if disqus.commentCount > 0 %}
    <details class="static-comments">
        <!-- `id` for direct link to Comments section -->
        <summary id="comments">
            {{ disqus.commentCount }} Comment{% if disqus.commentCount != 1 %}s{% endif %}
        </summary>
        <h2 class="vh">Comments</h2>
        {% for comment in disqus.comments %}
            {% include "z-comment-entry.html" %}
        {% endfor %}
    </details>
{% endif %}