<div class="static-comments-reply" id="comment-{{ comment.postId }}">
    <div class="static-comments-hed">
        <img src="{{ comment.avatar }}" class="static-comments-img">
        <h3 class="static-comments-title">{{ comment.author }}</h3>
        <em class="static-comments-date"><a href="#comment-{{ comment.postId }}">{{ comment.date }}</a></em>
    </div>
    <div class="static-comments-msg">{{ comment.message | safe }}</div>
    {% for comment in comment.replies %}
        {% include "z-comment-entry.html" %}
    {% endfor %}
</div>