<nav class="font-size:1 cluster font-variant-caps:all-small-caps">
        <h2 class="vh">Navigation</h2>
        {% set navPages = collections.all | eleventyNavigation %}
        <ul class="justify-content:center">
        {% for entry in navPages %}
            {% if loop.index0 != 0 or not home %}
                <li class="{% if entry.url == page.url %} my-active-class{% endif %} list-style-type:none">
                    <a class=" text-decoration:none" href="{{ entry.url | url }}">{{ entry.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
</nav>