<ul class="postlinks">
{% set lastYear = 1500 %}
{% for post in postslist | reverse %}
  <li class="grid postgrid">
      {% set thisYear = (post.date | yearFromDate) %}
      {% if lastYear != thisYear %}
        {% set lastYear = thisYear %}
        <time datetime="{{ post.date | htmlDateString }}">{{ thisYear }}</time>
      {% else %}
        <div></div>
      {% endif %}
      <a href="{{ post.url | url }}">{{ post.data.title }}
        {% if commentsCounts[post.url] > 0 %}<span title="{{ commentsCounts[post.url] }} comment{% if commentsCounts[post.url] != 1 %}s{% endif %}">📢 {{ commentsCounts[post.url] }}</span>{% endif %}
      </a>
  </li>
{% endfor %}
</ul>