<form action="https://www.google.co.uk/search" method="get" class="search">
    <input type="hidden" name="q" id="q" value="site:https://www.lucabol.com">
    <label for="search-str" class="vh">Search<small></label>
    <input type="text" name="q" id="search-str">
    <button type="submit" class="submit">Search</button>
</form>