{% if tagslist %}
    <div>
      <h2 class="font-size:1">Tags</h2>
      <ul>
      {% for tag in tagslist %}
          <li href="/tags/{{ tag | lower | safe }}">{{ tag | upper | safe }}</a></li>
      {% endfor %}
      </ul>
    </div>
{% endif %}
