html, body, section, nav, article, aside, h1, h2, h3, h4, h5, h6, hgroup, header, footer, address, p, hr, pre, blockquote, ol, ul, li, dl, dt, dd, figure, figcaption, div, table, caption, form, fieldset {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
body {
    --font-family-text: SourceSerifPro, TimesNewRoman, "Times New Roman", Baskerville, serif;
    --font-family-code: SourceCodePro, "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
    --font-family-dropcap: TimesNewRoman, "Times New Roman", serif;
    --font-family-headers: var(--font-family-title);
    --font-family-title: SourceSansPro, sans-serif;
    --font-family-ui: SourceSansPro, sans-serif;
    --font-family-logo: var(--font-family-text);

    /* https://us6.campaign-archive.com/?u=0019faab58713ad49bce9acc3&id=9bb186f72f */
    /* breakpoint variables */
    --bp-small: 25;
    --bp-medium: 45;
    --bp-large: 55;
    --bp-xlarge: 65;

    /* set px value sizes */
    /* initial px value for text */
    --rem-px: 16;

    /* EDIT HERE to set px value sizes */
    --p-size-s-px: 16;
    --h2-size-s-px: 16;
    --h1-size-s-px: 20.25;
    --p-size-l-px: 24;
    --h2-size-l-px: 24;
    --h1-size-l-px: 47.986;

    /* values to scale across breakpoint range */
    --p-wdth-min: 90;
    --p-wdth-max: 100;
    --p-wght-min: 350;
    --p-wght-max: 410;

    /* default starting scale value */
    --p-wdth: var(--p-wdth-min);
    --p-wght: var(--p-wght-min);

    /* calcs to create values for the formulas */
    --h1-size-min: calc( var(--h1-size-s-px) / var(--rem-px) );
    --h1-size-max: calc( var(--h1-size-l-px) / var(--rem-px) );
    --h1-lh-min: 1.0;
    --h1-lh-max: 1.0;
    
    /* values to scale across breakpoint range */
    --h1-wdth-min: 75;
    --h1-wdth-max: 85;
    --h1-wght-min: 400;
    --h1-wght-max: 400;

    /* default starting scale value */
    --h1-wdth: var(--h1-wdth-min);
    --h1-wght: var(--h1-wght-min);

    --dropcap-weight: var(--h1-wght);

    /* calcs to create values for the formulas */
    --h2-size-min: calc( var(--h2-size-s-px) / var(--rem-px) );
    --h2-size-max: calc( var(--h2-size-l-px) / var(--rem-px) );
    --h2-lh-min: 1.05;
    --h2-lh-max: 1.1;
    
    /* values to scale across breakpoint range */
    --h2-wdth-min: 85;
    --h2-wdth-max: 100;
    --h2-wght-min: 550;
    --h2-wght-max: 700;

    /* calcs to create values for the formulas */
    --p-size-min: calc( var(--p-size-s-px) / var(--rem-px) );
    --p-size-max: calc( var(--p-size-l-px) / var(--rem-px) );
    --p-lh-min: 1.3;
    --p-lh-max: 1.4;
  
    --color: #1c1c1c;
    --accent-color: rgb(153,0,0); 

    font-family: var(--font-family-text);
    color: var(--color);

    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;

    --p-size: calc( var(--p-size-min) * 1rem);
    --code-factor: 0.8;
    --code-weight: 400;

    font-size: var(--p-size); 

    line-height: var(--p-lh-min); 
    /* JS will scale the next two values dynamically */
    font-stretch: calc( var(--p-wdth) * 1%);
    font-weight: var(--p-wght);
}
@media screen and (min-width: 25em) {
    body {
        /* use formula to scale from low value to high between breakpoints */
        line-height: calc(( var(--p-lh-min) * 1em ) + ( var(--p-lh-max) - var(--p-lh-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
        --p-size: calc(( var(--p-size-min) * 1em ) + ( var(--p-size-max) - var(--p-size-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
    }
    }
    @media (min-width: 65em) {
    body {
        /* set high end values to cap scale for largest screens */
        --p-size: calc( var(--p-size-max) * 1rem);

        font-stretch: calc( var(--p-wdth-max) * 1%);
        font-weight: var(--p-wght-max);
        line-height: var(--p-lh-max);
    }
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-family-headers);
    font-style: normal;

    /* set low-end scale values for smallest screens */
    font-size: calc( var(--h2-size-min) * 1rem);
    line-height: var(--h2-lh-min); 
    /* JS will scale the next two values dynamically */
    font-stretch: calc( var(--h2-wdth) * 1%);
    font-weight: var(--h2-wght);

    margin: 1.0rem 0 0.0rem;
}
@media screen and (min-width: 25em) {
    h1, h2, h3, h4, h5  {
        /* use formula to scale from low value to high between breakpoints */
        line-height: calc(( var(--h2-lh-min) * 1em ) + ( var(--h2-lh-max) - var(--h2-lh-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
        font-size: calc(( var(--h2-size-min) * 1em ) + ( var(--h2-size-max) - var(--h2-size-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) ))); 
    } 
    }
    @media screen and (min-width: 65em) {
    h1, h2, h3, h4, h5  {
        /* set high end values to cap scale for largest screens */
        font-size: calc( var(--h2-size-max) * 1rem);
        font-stretch: calc( var(--h2-wdth-max) * 1%);
        font-weight: var(--h2-wght-max);
        line-height: var(--h2-lh-max);
    } 
}

h1#title {
    font-family: var(--font-family-title);

    /* set low-end scale values for smallest screens */
    font-size: calc( var(--h1-size-min) * 1rem);
    line-height: var(--h1-lh-min); 
    /* JS will scale the next two values dynamically */
    font-stretch: calc( var(--h1-wdth) * 1%);
    font-weight: var(--h1-wght);
    border-top: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
    padding: 0.5rem 0;
    margin: 0.5rem 0 0.5rem;
}
@media screen and (min-width: 25em) {
    h1#title {
        /* use formula to scale from low value to high between breakpoints */
        line-height: calc(( var(--h1-lh-min) * 1em ) + ( var(--h1-lh-max) - var(--h1-lh-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
        font-size: calc(( var(--h1-size-min) * 1em ) + ( var(--h1-size-max) - var(--h1-size-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) ))); 
    } 
}
@media screen and (min-width: 65em) {
    h1#title {
        /* set high end values to cap scale for largest screens */
        font-size: calc( var(--h1-size-max) * 1rem);
        font-stretch: calc( var(--h1-wdth-max) * 1%);
        font-weight: var(--h1-wght-max); 
        line-height: var(--h1-lh-max); 
    }
}

body {
    padding: 1rem;
    display: grid;
    grid-template-columns: 3% 94% 3%;
    grid-template-rows: auto auto auto auto;
    grid-gap: 0.1em;
    /* background-image: linear-gradient(rgba(200, 50, 50, .25) 1px, transparent 1px);
    background-size: 1px var(--line-height-rem); */
}
header, footer, main, nav, footer, #to_top, #sidebar-left, #sidebar-right, #title {
    grid-column: 2/3;
}
header {
    grid-row: 1 / 2;
}
footer {
    grid-row: 4 / 5;
}
p + p {
    margin: 1rem 0;
}

main p:first-of-type::first-line {
    font-style: italic;
    
}
ul, ol {
    margin: 0 2.5rem;
}
#to_top {
    color: var(--accent-color);
}
#logo {
    font-family: var(--font-family-logo);
    color: var(--accent-color);
}

nav ul, nav ol {
    margin: 0rem 0 0.5rem;
}
nav li {
    list-style-type: none;
}
nav li a {
    margin: 0;
}
hr {
    margin: 0.5rem 0;
}

a, a:visited, a:active {
    color: var(--color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p a, p a:visited, p a:active {
    color: var(--accent-color);
}
nav h1, aside h1 {
    margin: 1.0rem 0 0.2rem;
}
main a:link {
    color:var(--accent-color);
}
p a::after {
    position: relative;
    content: "°";
    margin-left: 0.1em;
    font-size: 90%;
    top: -0.1em;
    font-feature-settings: "caps";
    font-variant-numeric: normal;
}
pre {
    margin: 1rem 1rem;
    overflow-x: auto;
}
code {
    font-family: var(--font-family-code);
    font-size: calc(var(--p-size) * var(--code-factor));
    font-weight: var(--code-weight);
}

button {
    border-radius: 25px;
    border: none;
    color: var(--accent-color);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 1.0rem 0 0.5rem;
    font-size:1.2rem
}
#disqus-container {
    margin: 1.0rem 0;
}

.post-list {
    margin:0;
    list-style-type:upper-latin;
}
.post-list > li {
    display:flex;
}
.post-link:link, .post-link:visited {
    margin: 0 0.5rem;
    color: var(--color);
}
.post-date {
    font-variant-numeric: tabular-nums;
}
#blog_date {
    color: var(--color);
    font-variant-numeric: tabular-nums;
    font-variant-caps: all-small-caps;
}
#TOC h2,#tags h2 {
    display: none;
}
#topnav {
    font-family: var(--font-family-ui);
    overflow: hidden;
}
.rightnav {
    float: right;
}
#topnav a {
    font-variant-caps: all-small-caps;
    cursor: pointer;
    margin: 0 0.2rem;
}
#topnav a#logo {
    font-variant-caps: normal;
}
.dropdown-content, #primary_nav {
    display: none;
    position: absolute;
    background-color: white;
    border: 2px solid;
    border-radius: 25px;
    padding: 0 0 0 10px;
}
#to_nav {
    display: inline;
}
#primary_nav {
    right: 0;
}
.dropdown-content a, #primary_nav a {
    display: block;
    padding: 0.1rem ;
    margin: 0.1rem;
}
.dropdown-content a:hover {
    text-decoration: underline;
}
#random-font, #which-font {
    display: none;
}
#random-font:hover  {
    cursor: pointer;
}
.offline {
    display:none;
}
.offline.show {
    display: block;
    float: left;
    text-transform: capitalize;
    color: var(--accent-color);
    text-decoration: wavy;
    border-style: groove;
    border-color: var(--accent-color);
}
a.strike {
    text-decoration: line-through;
}

@media screen and (min-width: 36em) {
    body {
        grid-template-columns: 1.0fr 33em 1.414fr;
    }
    #primary_nav {
        grid-row: 1 / 2;
        display: inline;
        position: relative;
        border: none;
        padding: 0;
    }
    #primary_nav a {
        display: inline;
    }
    #to_nav {
        display: none;
    }
    .post-link:link, .post-link:visited {
        margin: 0 0.5rem;
        color: var(--color);
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media screen and (min-width: 80em) { /* 1280px */
    #sidebar-left {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    #sidebar-right {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    #TOC h1, #tags h1 {
        display: none;
    }
    #TOC, #tags {
        font-family: var(--font-family-ui);
    }
    #TOC {
        font-variant-caps: all-small-caps;
        border-left: 1px dotted var(--accent-color);
        position: sticky;
        text-align: left;
        top: 0;
        margin-left: 1rem;
        padding-left: 1rem;
        line-height: 1.5rem;
    }
    #tags {
        font-variant-caps: all-small-caps;
        border-right: 1px dotted var(--accent-color);
        position: sticky;
        text-align: right;
        top: 0;
        margin-right: 1rem;
        padding-right: 1rem;
        line-height: 1.5rem;
    }
    #tags h2, #TOC h2 {
        display: block;
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) { /* retina */
}
@media print {
    * {
        background: none !important;
    }
    #sidebar-left, #sidebar-right, #primary_nav, #to_top, #to_nav {
        display: none !important;
    }
}