html, body, section, nav, article, aside, h1, h2, h3, h4, h5, h6, hgroup, header, footer, address, p, hr, pre, blockquote, ol, ul, li, dl, dt, dd, figure, figcaption, div, table, caption, form, fieldset {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
html {
    --default-font-family-text: TimesNewRoman, "Times New Roman", Georgia, serif;
    --default-font-family-code: "Courier New", "Lucida Sans TypeWriter", "Lucida Console", monospace;
    --default-font-family-headers: Georgia, serif;
    --default-min-font-size: 1.125rem;
    --default-max-font-size: 1.375rem;
    --default-line-height: 1.4;
    --default-color: #1c1c1c;
    --accent-color: rgb(153,0,0); 
    --modular-ratio-s: 1.067; /* Minor second */
    --modular-ratio-b: 1.2; /* Minor third */
    --modular-ratio: var(--modular-ratio-s);

    --font-family-text: var(--default-font-family-text);
    --font-family-code: var(--default-font-family-code);
    --font-family-headers: var(--default-font-family-headers);
    --font-family-dropcap: var(--font-family-headers);
    --font-family-menu: var(--font-family-headers);
    --line-height: var(--default-line-height);

    --min-font-size: var(--default-min-font-size);
    --max-font-size: var(--default-max-font-size);

    font-size: var(--min-font-size);
    line-height: var(--line-height);
    font-weight: 410;
    font-family: var(--font-family-text);
    color: var(--default-color);

    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
}
body {
    padding: 1rem;
    display: grid;
    grid-template-columns: 3% 94% 3%;
    grid-template-rows: auto auto auto auto;
    grid-gap: 0.1em;
    /* background-image: linear-gradient(rgba(200, 50, 50, .25) 1px, transparent 1px);
    background-size: 1px var(--line-height-rem); */
}
header, footer, main, nav, footer, #to_top, #sidebar-left, #sidebar-right, #title {
    grid-column: 2/3;
}
header {
    grid-row: 1 / 2;
}
footer {
    grid-row: 4 / 5;
}
p + p {
    margin: 1rem 0;
}

main a.first-link::first-letter {
    font-family: var(--font-family-headers);
    font-size: 1.5rem;
    font-weight: 800;
    font-style: italic;
    line-height: 0.6;
    color: var(--accent-color);
    font-variant-ligatures: discretionary-ligatures historical-ligatures;
    font-feature-settings: "swsh";
}
main p:first-of-type::first-letter {
    font-family: var(--font-family-headers);
    font-size: 2rem;
    font-style: italic;
    line-height: 0.6;
    color: var(--accent-color);
    font-variant-ligatures: discretionary-ligatures historical-ligatures;
    font-feature-settings: "swsh";
}
ul, ol {
    margin: 0 1rem;
}
#to_top {
    color: var(--accent-color);
}
#logo {
    font-style: italic;
}

nav ul, nav ol {
    margin: 0rem 0 0.5rem;
}
nav li {
    list-style-type: none;
}
nav li a {
    margin: 0;
}
h3 {
    font-size: calc(1rem * var(--modular-ratio));
}
h1, h2, h3, h4, h5 {
    font-family: var(--font-family-headers);
    font-style: italic;
    font-weight: 500;
}
h2, h3, h4, h5 {
    font-size: calc(1rem * var(--modular-ratio) * var(--modular-ratio));
    font-style: italic;
}
h1 {
    font-size: calc(1rem * var(--modular-ratio) * var(--modular-ratio) * var(--modular-ratio));
    font-weight: 800;
    line-height: 1.0;
}
hr {
    margin: 0.5rem 0;
}

a, a:visited {
    color: var(--default-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h2, h3, h4, h5 {
    line-height: 1.0;
    margin: 1.0rem 0 0.5rem;
}
nav h1, aside h1 {
    font-size: calc(1rem * var(--modular-ratio));
    margin: 1.0rem 0 0.2rem;
}
main a:link {
    color:var(--accent-color);
}
p a::after {
    position: relative;
    content: "°";
    margin-left: 0.1em;
    font-size: 90%;
    top: -0.1em;
    font-feature-settings: "caps";
    font-variant-numeric: normal;
}
a:active {
    color: var(--accent-color);
}
pre {
    margin: 1rem 1rem;
    overflow-x: auto;
}
code {
    font-family: var(--font-family-code);
    font-weight: 400;
    font-size: 0.80rem;
}

button {
    border-radius: 25px;
    border: none;
    color: var(--accent-color);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 1.0rem 0 0.5rem;
    font-size:1.2rem
}
#to_nav {
    float:right;
    font-variant-caps: all-petite-caps;
}

#disqus-container {
    margin: 1.0rem 0;
}

.post-list {
    list-style-type: none;
    margin:0;
}
.post-list > li {
    display:flex;
}
.post-link:link, .post-link:visited {
    margin: 0 0.5rem;
    color: var(--default-color);
}
.post-date {
    font-variant-numeric: tabular-nums;
    font-variant-caps: all-petite-caps;
    font-size: 0.73rem;
    padding: 0.27rem 0 0;
}
#blog_date {
    color: var(--default-color);
    font-weight: 500;
    font-variant-numeric: tabular-nums;
    font-variant-caps: all-petite-caps;
    font-size: 0.73rem;
}
#TOC h2,#tags h2 {
    display: none;
}
#primary_nav a {
    font-variant-caps: all-petite-caps;
}
.dropdown {
    display:inline;
    position: relative;
}
.dropdown-content {
    display: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 1em;
    background-color: white;
    opacity: 1.0;
    z-index: 1;
    min-width: 25ch;
}
.dropdown-content div {
    padding: 0.1rem ;
    margin: 0.1rem;
}
.dropdown-content div:hover {
    text-decoration: underline;
}
.dropdown:hover .dropdown-content {
    display:block;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#random-font, #which-font {
    display: none;
}
#random-font:hover  {
    cursor: pointer;
}

.offline {
    display:none;
}
.offline.show {
    display: block;
    float: left;
    text-transform: capitalize;
    color: var(--accent-color);
    text-decoration: wavy;
    border-style: groove;
    border-color: var(--accent-color);
}
a.strike {
    text-decoration: line-through;
}

@media screen and (min-width: 80ch) {
    body {
        grid-template-columns: 1.0fr 75ch 1.414fr;
    }
    #to_nav, #primary_nav h1 {
        display: none;
    }
    #primary_nav {
        grid-row: 1 / 2;
    }
    #primary_nav ul {
        float: right;
    }
    #primary_nav li {
        display:inline;
        margin: 0 0.2em;
    }
    .dropdown-content {
        bottom: auto;
        top: auto;
        left: auto;
        right: 0;
    }
}
/* Font-size set with: https://www.madebymike.com.au/writing/fluid-type-calc-examples/ */
/* clamp doesn't seem to work on firefox yet, so no https://css-tricks.com/simplified-fluid-typography/ */
@media screen and (min-width: 20rem) { /* 320px */
  html {
    /* formula is min-font-size + (max-font-size - min-font-size) * ((100vw - first-break) / (second-break - first-break)) */
    font-size: calc(var(--min-font-size) + 0.25 * ((100vw - 20rem) / 60));
    --modular-ratio: var(--modular-ratio-b);
  }
}

@media screen and (min-width: 80rem) { /* 1280px */
    html {
        font-size: var(--max-font-size);
    }
    #sidebar-left {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    #sidebar-right {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    #TOC h1, #tags h1 {
        display: none;
  }
    #TOC {
        font-variant-caps: all-petite-caps;
        border-left: 1px dotted var(--accent-color);
        position: sticky;
        text-align: left;
        top: 0;
        margin-left: 1rem;
        padding-left: 1rem;
        line-height: 1rem;
    }
    #tags {
        font-variant-caps: all-petite-caps;
        border-right: 1px dotted var(--accent-color);
        position: sticky;
        text-align: right;
        top: 0;
        margin-right: 1rem;
        padding-right: 1rem;
        line-height: 1rem;
    }
    #tags h2, #TOC h2 {
        display: block;
    }
}
@media screen and (min-width: 120rem) { /* 1920px */
    html {
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 160rem) { /* 2560px */
    html {
        font-size: 1.7rem;
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) { /* retina */
}
@media print {
    * {
        background: none !important;
    }
    #sidebar-left, #sidebar-right, #primary_nav, #to_top, #to_nav {
        display: none !important;
    }
}