<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head.html" . }}
    </head>
<body>
    <!-- Avoid FOUC in Firefox with js disabled https://stackoverflow.com/questions/21147149/flash-of-unstyled-content-fouc-in-firefox-only-is-ff-slow-renderer
    <script>0</script>
    -->
    <header>
        <div id="topnav">
            <a id="logo" href="/">❧</a>
            {{ if .Params.date }}
                <time id="blog_date" > {{ .Date.Format "2006/01/01" }}</time>
            {{ end }}
            <span class="offline">~~ Offline ~~</span>
            <span class="rightnav">
                <a id="theme">theme</a>
                {{- partial "theme.html" }}
                <a id="to_nav">Menu</a>
                <nav id="primary_nav">
                    {{ partial "menu.html" . }}
                </nav>
            </span>
        </div>
    </header>

    <main>
        <article>
            <h1 id="title">
            {{ block "title" . }}
                {{ .Title }}
            {{ end }}
            </h1>
            {{ block "main" . }}
            {{ end }}
        </article>

    </main>

    <aside id="sidebar-left">
        {{ block "sideleft" . }}
        {{ end }}
    </aside>

    <aside id="sidebar-right">
        <section id="TOC">
        {{ block "sideright" . }}
        {{ end }}
        </section>
    </aside>

    <a id="to_top" href="#top">Top</a>
    <footer>
        {{ partial "footer.html" . }}
    </footer>

    {{ partial "fonts.html"}}
    <!--{{ partial "tracking-code.html"}}-->
    {{ partial "sw-install.html"}}
    {{ partial "offline.html"}}
    {{ partial "dynamic-typography.html"}}
    {{ partial "menu_script.html" }}

</body>
</html>