<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head.html" . }}
    </head>
<body>
    <header>
        <a id="to_nav" href="#primary_nav">Menu</a>
    </header>
    <main>
        <h1 id="title">
        {{ block "title" . }}
            {{ .Title }}
        {{ end }}
        </h1>
        {{ if .Params.date }}<div class="date">{{ .Date.Format "2006/01/01" }}</div>{{ end }}

        {{ block "main" . }}
        {{ end }}

        <aside class="sidebar-left">
            {{ block "sideleft" . }}
            {{ end }}
        </aside>

        <aside class="sidebar-right">
            {{ block "sideright" . }}
            {{ end }}
        </aside>

    </main>
    <nav id="primary_nav">
        {{ partial "menu.html" . }}
    </nav>
    <a href="#top">Top</a>
    <footer>
        {{ partial "footer.html" . }}
    </footer>

    <!-- {{ partial "tracking-code.html"}}
    {{ partial "sw-install.html"}}
    {{ partial "offline.html"}}
    {{ partial "fonts.html"}} -->

</body>
</html>
