<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
  <div class="container">

{{ partial "menu.html" . }}

{{ .Content }}

<main>
  <ul>
    {{ $pages := .Pages }}
    {{ $pages = .Site.RegularPages }}
    {{ range (where $pages "Section" "!=" "") }}
    <li>
      <span class="date">{{ .Date.Format "2006/06" }}</span>
      <a class="postlink" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</main>

{{ partial "footer.html" . }}

  </div>
</body>
</html>
