{{ define "main" }}
<main>
{{ .Content }}
</main>

{{ if not .Page.Params.nodisqus}}
  <!-- {{ template "_internal/disqus.html" . }} -->
  {{ partial "disqus.html" . }}
{{ end }}

{{ end }}

{{ define "sideleft"}}
  {{ partial "toc.html" . }}
{{ end }}

{{ define "sideright"}}
<div class="terms">
  <h1>※</h1>
  {{ if .Params.date }}<div class="date">{{ .Date.Format "2006/01/01" }}</div>{{ end }}
  {{ range $i := (slice "tags") }}
  {{ with ($.Param $i) }}
  {{ $i | title }}: {{ range $k := . }}
    <div>
    <a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a>
    <div>
  {{ end }}
  {{ end }}
  {{ end }}
</div>
{{ end }}