<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
  <div class="container">

{{ partial "menu.html" . }}

<main>
<h1 class="title">{{ .Title }}</h1>
<span class="terms">
  {{ range $i := (slice "tags") }}
  {{ with ($.Param $i) }}
  {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
  {{ end }}
  {{ end }}
{{ if .Params.date }}<span class="date">@ {{ .Date.Format "2006/01/01" }}</span>{{ end }}
</span>

{{ partial "toc.html" . }}

<hr/>
{{ .Content }}
</main>

{{ if not .Page.Params.nodisqus}}
  <!-- {{ template "_internal/disqus.html" . }} -->
  {{ partial "disqus.html" . }}
{{ end }}


{{ partial "footer.html" . }}

  </div>
</body>
</html>