/* 1. Se Old Style: Cardo (Minion, Gallard, Centaur) */
@font-face {
    font-family: 'Cardo';
    src:
        url('/fonts/Cardo104s-subset.woff2') format('woff2'),
        url('/fonts/Cardo104s.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cardo';
    src:
        url('/fonts/Cardoi99.ttf') format('truetype');
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Cardo';
    src:
        url('/fonts/Cardob101.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
}


.Cardo {
    --font-family-headers: 'Cardo', TimesNewRoman, "Times New Roman", serif;
    --font-family-text: 'Cardo',  TimesNewRoman, "Times New Roman", serif;
    --font-family-code: LucidaTy, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
}
