/* 9. Sa Humanist: URW Classico (Optima) */
@font-face {
    font-family: URWClassico;
    src: url('/fonts/URWClassico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: URWClassico;
    src: url('/fonts/URWClassico-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: URWClassico;
    src: url('/fonts/URWClassico-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: URWClassico;
    src: url('/fonts/URWClassico-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
.URWClassico {
    --font-family-headers: URWClassico, serif;
    --font-family-text: URWClassico, serif;
    --font-family-code: LucidaTy, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    --code-factor: 0.9;
}